<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Insotech Twitter</a>
    by <a href="http://www.michaelhartl.com/">Hashim Colombowala</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://insotech.us/">News</a></li>
    </ul>
  </nav>
</footer>